*{
    box-sizing: border-box;
    
}
caption{
    background-color: rgb(130, 130, 227);
    text-align: left;
}
table{
    width: 1000px;
    height: 400px;
    color: white;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th{
    background-color:rgb(83, 83, 197);
    color: white;
}
tr{
    font-size: 30px;
    font-weight: bolder;
}
tr:nth-of-type(2n){
    background-color: rgb(166, 166, 208);
    color: black;
    
}
tr:nth-of-type(2n+1){
    background-color: rgb(102, 102, 230);
    color: black;
}